body {
  background-image: url(mountain_view.jpg);
  background-size: 100%;
  overflow-x: hidden;
  /*font-family: "Adobe Caslon Pro", serif;*/
  border: 4px solid lightpink;
  height: 95vh;
  position: relative;
  top: 8px;
  text-align: center;
}
.wrap {
  width: 55%;
  height: 80%;
  margin: 40px auto;
  /*background-color: cyan;*/
  box-sizing: border-box;
  /*font-family: Georgia, "Times New Roman", Serif;*/
}
.clock {
  width: 100%;
  height: 30%;
  border-bottom: 5px solid lightpink;
}
.quote {
  /*background-color: lightblue;*/
  width: 100%;
  height: 50%;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 2.3em;
  color: black;
  overflow: auto;
  text-shadow: 2px 0 0 lightpink;
  box-sizing: border-box;
  text-transform: lowercase;
  font-variant: small-caps;
}
.aux {
  /*background-color: lightgreen;*/
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  border: 2px solid lightpink;
  padding-top: 2.5em;
}
button {
  padding: 1em 1em;
  background-color: black;
  border-color: lightpink;
  color: white;
  opacity: .7;
  position: relative;
  bottom: 7px;
  border-radius: 10%;
  transition: .7s;
}
a {
  margin-left: 2em;
  font-size: 2em;
  color: lightpink;
  transition: .7s;
  text-shadow: 2px 0 0 black;
  opacity: .8;
}
button:hover {
  background-color: lightpink;
  color: black;
  border-color: black;
}
a:hover {
  color:black;
  opacity: .7;
  text-shadow: 2px 0 0 lightpink;
}
.date {
  height: 40%;
  box-sizing: border-box;
}
#date-text {
  margin: 0;
  padding-top: 1em;
  font-size: 2em;
  text-shadow: 2px 0 0 lightpink;
}
.time {
  height: 60%;
  /*background-color: lightgreen;*/
  box-shadow: border-box;
}
#time-text {
  margin: 0px;
  padding-top: 0.5em;
  font-size: 3em;
  text-shadow: 4px 0 0 lightpink;
}



